@import 'theme.scss';

.breadcrumbs  {
  margin: 0;
  list-style-type: none;
}
a {
  font-size: 1.2em;
  color: $headerHoverTextColor;
  text-decoration: none;
}
a:hover {
  color: $headerHoverTextColor;
  text-decoration: none;
}
.active-link {
  color: $headerHoverTextColor;
}
