<div class="container">
  <h3 mat-dialog-title>
    {{serviceName}}: {{record.name}}
    <ng-container *ngIf="record.lastname">{{record.lastname}}</ng-container>
  </h3>
  <h4 class="inactive">ID reference: {{record.id}}</h4>

  <form class="mat-dialog-content" [formGroup]="editorForm">
    <!-- Value: {{ editorForm.value | json }} -->
      
      <p>
        <mat-form-field color="primary">
          <input matInput #input formControlName="name" placeholder="Name" required >
          <mat-error>
            <ng-container *ngFor="let error of errors(editorForm.get('name'))">
              {{ errorMessages[error] }} <br/>
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field color="primary" *ngIf="record.lastname">
          <input matInput #input formControlName="lastname" placeholder="Last Name" required>
          <mat-error>
            <ng-container *ngFor="let error of errors(editorForm.get('lastname'))">
              {{ errorMessages[error] }} <br/>
            </ng-container>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field color="primary" *ngIf="record.age">
          <input matInput #input formControlName="age" type="number" [min]="ageMin" [max]="ageMax" placeholder="Age" required >
          <mat-hint align="end">Age between {{ageMin}} and {{ageMax}}.</mat-hint>
          <mat-error>
            <ng-container *ngFor="let error of errors(editorForm.get('age'))">
              {{ errorMessages[error] }} <br/>
            </ng-container>
          </mat-error>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field color="primary" *ngIf="record.startDate">
          <input matInput #input formControlName="startDate" [matDatepicker]="picker" [min]="startDateMin" [max]="startDateMax" placeholder="dd/MM/yyyy" required >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            <ng-container *ngFor="let error of errors(editorForm.get('startDate'))">
              {{ errorMessages[error] }} <br/>
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field color="primary" *ngIf="record.department">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department" placeholder="Select Department">
            <ng-container *ngFor="let dept of departments">
              <mat-option [value]="dept">
                {{dept}}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error>
            <ng-container *ngFor="let error of errors(editorForm.get('department'))">
              {{ errorMessages[error] }} <br/>
            </ng-container>
          </mat-error>
        </mat-form-field>
      </p>

    <div mat-dialog-actions align="end">
      <button mat-button (click)="cancel()" tabindex="-1">Cancel</button>
      <button mat-button type="submit" [disabled]="!editorForm.valid" [mat-dialog-close]="editorForm.value">Save</button>
    </div>
  </form>
</div>
