// SASS style sheet */
// Greyscale Palette color codes */
// Handpicked */

$color-greyscale-0: #000000;	// Main Primary color */
$color-greyscale-1: #ffffff;
$color-greyscale-2: #cccccc;
$color-greyscale-3: #666666;
$color-greyscale-4: #333333;